Build
Build.bat
cover_db
const-c.inc
Ctypes-
Ctypes.c
Ctypes.o
Makefile
Makefile.old
META.yml
MYMETA.yml
pm_to_blib
pod2htm*.tmp
*~
.lwpcookies
.tar.gz
*.bak
*.base
*.def
*.exp
*.swp
*.swo
*.bs
*.stackdump
.git
_build
blib
libffi-3.0.9*
libffi/
win32/
const-c.inc
