cover_db
const-c.inc
Ctypes-
Ctypes.c
Ctypes.o
Ctypes_float_minima.h
Makefile
Makefile.old
META.yml
MYMETA.yml
MYMETA.json
pm_to_blib
pod2htm*.tmp
*~
.lwpcookies
*.bak
*.base
*.def
*.exp
*.swp
*.swo
*.bs
*.stackdump
.git
.provedb
blib
libffi-3.0*
libffi/
log.test*
0*.patch
.diff
MANIFEST.files
TAGS
cygwin/
*.zip
.test*
Ctypes*.tar.gz
.prove
.perlcritic
